

.card
{

	transition: 0.5s;
	text-decoration: none;
}

.card a:link {
  color: black;
  transition: 0.5s;
}

.card a:visited {
  color: black;
  transition: 0.5s;
}

.card:hover
{
	background: gray;
	color: white;
	transition: 0.5s;
}

.card a:hover
{
	text-decoration: none;
	color: white;
	transition: 0.5s;
}


