<div class="bg-white card shadow card-body" style="margin-top: 20px; border-color: blue;">

    <h2 style="font-family: 'ZCOOL XiaoWei', serif;">Componente de Videjuegos </h2>
    <div class="row">
        <div class="col-md-9">
              <h5 style="font-family: 'ZCOOL XiaoWei', serif;">{{titulo}}</h5>
        </div>
        <div class="col-md-3">
            <button (click)="cambiarTitulo()" class="btn btn-primary">Cambiar titulo</button>
        </div>
        </div>
        <div></div>
          <hr>
          <h4>{{listado}}</h4>
          
        <ul>
            <li>GTA</li>
            <li>Price of Persia</li>
            <li>Mario</li>
            <li>Color de configuracion: {{color}}</li>

            

        </ul>
    
</div>